# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
numbers_list = list(range(1, 11))
print("liste:", numbers_list)

liste: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [2]:
fruits_tuple = ("apple", "banana", "cherry")
print("fruits" , fruits_tuple)

fruits ('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [4]:
numbers = [10, 20, 30, 40]
numbers_tuple = tuple(numbers)
print("T:", numbers_tuple)

T: (10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [5]:
numbers_set = {1, 2, 3, 4, 5}
print("T1:", numbers_set)

T1: {1, 2, 3, 4, 5}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [11]:
student = {"name": "Alice",
           "age": 20,
           "grade": "9P"}
print("T2:", student)

T2: {'name': 'Alice', 'age': 20, 'grade': '9P'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [12]:
my_list = [10, 20, 30, 40, 50]
second_element = my_list[1]
print(second_element)

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [14]:
# Exercise 7
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8

In [15]:

numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [16]:

person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [17]:

numbers = range(10)
print(list(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

In [18]:

squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [19]:

even_numbers = tuple(x for x in range(2, 11) if x % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [20]:

fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [21]:

numbers = {1, 2, 3, 4, 5}

if 3 in numbers:
    print("3 exists in the set")
else:
    print("3 does not exist in the set")

3 exists in the set

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [ ]:

numbers = (10, 20, 30)
length = len(numbers)
print(length)

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [22]:

scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [120]:

def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [28]:

numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [29]:

word = "hello"
char_list = list(word)
print(char_list)

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [30]:

def reverse_tuple(t):
    return t[::-1]

original = (1, 2, 3, 4)
reversed_tuple = reverse_tuple(original)
print(reversed_tuple)

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [122]:

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}


---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [34]:

squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [33]:

my_dict = {"name": "Alice", "age": 30, "city": "Paris"}

for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Alice
age: 30
city: Paris

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [35]:

letters = [chr(i) for i in range(ord('a'), ord('a') + 5)]
print(letters)

['a', 'b', 'c', 'd', 'e']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [36]:

list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [37]:

numbers = [10, 20, 30, 40, 50]
index_of_50 = numbers.index(50)
print(index_of_50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [38]:

names = ["Alice", "Bob", "Charlie", "David"]
names.sort() 
print(names)

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [39]:

def find_largest(numbers):
    return max(numbers)
print(find_largest([10, 25, 3, 99, 42]))

99

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [40]:

fruits = ["apple", "banana", "apple", "orange"]
apple_count = fruits.count("apple")
print(apple_count)

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [41]:

person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(person["city"])

New York

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [42]:

def remove_duplicates(input_list):
    return list(set(input_list))
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [43]:

def list_intersection(list1, list2):
    return list(set(list1) & set(list2))
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
result = list_intersection(a, b)
print(result)

[3, 4]


---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [44]:

def square_generator():
    for i in range(1, 11):
        yield i ** 2
for square in square_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100


---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

In [51]:

def sum_dict_values(d):
    return sum(d.values())
my_dict = {'a': 10, 'b': 20, 'c': 30}
print(sum_dict_values(my_dict))

60



### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [50]:

my_list = [3, 1, 4, 1, 5, 9]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 1, 3, 4, 5, 9]


---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [49]:

def longest_string(strings):
    return max(strings, key=len)

words = ["apple", "banana", "cherry", "orange"]
print(longest_string(words))

banana


---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [52]:

numbers = [1, 2, 3, 4, 5]
all_greater_than_zero = all(num > 0 for num in numbers)
print(all_greater_than_zero)

True


---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [53]:

squares = [(x, x**2) for x in range(1, 6)]
print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [96]:

def get_second_elements(tuples_list):
    return [t[1] for t in tuples_list]



### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [ ]:

def flatten_list(list_of_lists):
    return [item for sublist in list_of_lists for item in sublist]



---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [97]:

fruits = ["apple", "banana", "cherry"]
for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry



---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [125]:

def is_tuple_empty(t):
    return len(t) == 0



---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [101]:

even_numbers = list(range(2, 21, 2))


---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [104]:

def reverse_list(numbers):
    return numbers[::-1]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [106]:

cubes = {x: x**3 for x in range(1, 6)}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [109]:

def unique_elements(lst):
    return list(set(lst))
unique_elements([1, 2, 2, 3, 4, 4, 5])

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [126]:

def get_values_for_key(dicts_list, key):
    return [d.get(key) for d in dicts_list if key in d]


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [127]:

def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [116]:

def unique_chars(s):
    return list(set(s))


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [54]:

def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

a = [1, 3, 5]
b = [2, 4, 6]
print(merge_sorted_lists(a, b))

[1, 2, 3, 4, 5, 6]



---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [55]:

numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [ ]:

tuple_list = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(tuple_list)
print(result_dict)

--- 
### Exercise 53: 
Write a Python function that takes two sets and returns their symmetric difference.
python
# Exercise 53

In [130]:
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)

--

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [57]:

def common_elements(list1, list2, list3):
    return list(set(list1) & set(list2) & set(list3))

a = [1, 2, 3, 4]
b = [2, 3, 5]
c = [0, 2, 3, 6]
print(common_elements(a, b, c))

[2, 3]


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [58]:

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)
print(factorial(5))

120


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [60]:

items = ["apple", "", "banana", "", "cherry"]
filtered_items = [item for item in items if item != ""]
print(filtered_items)

['apple', 'banana', 'cherry']


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [62]:

def swap_dict(d):
    return {v: k for k, v in d.items()}
original = {'a': 1, 'b': 2, 'c': 3}
swapped = swap_dict(original)
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [61]:

def get_even_numbers(nums):
    return [n for n in nums if n % 2 == 0]

print(get_even_numbers([1, 2, 3, 4, 5, 6]))

[2, 4, 6]



---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [63]:

def first_elements(tuples):
    return [t[0] for t in tuples]

pairs = [(1, 2), (3, 4), (5, 6)]
print(first_elements(pairs))

[1, 3, 5]


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [64]:

def remove_duplicates_ordered(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

nums = [1, 2, 2, 3, 1, 4]
print(remove_duplicates_ordered(nums))

[1, 2, 3, 4]


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [65]:

words = ["apple", "banana", "cherry"]
lengths = list(map(len, words))
print(lengths)  #

[5, 6, 6]



---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [66]:

def average(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

print(average([10, 20, 30]))

20.0


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [132]:

def fibonacci(n):
    fib_seq = []
    a, b = 0, 1
    for _ in range(n):
        fib_seq.append(a)
        a, b = b, a + b
    return fib_seq

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [133]:
from collections import Counter
fruits = ["apple", "banana", "apple", "cherry"]
counts = Counter(fruits)
print(counts)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [134]:
# Exercise 65
def remove_all_occurrences(lst, value):
    return [item for item in lst if item != value]


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [136]:
def strings_starting_with_vowel(strings):
    vowels = {'f', 'a', 't', 'o', 'u'}
    result = []
    for s in strings:
        if s and s[0].lower() in vowels:
            result.append(s)
    return result



---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [68]:

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection = set1 & set2 
print(intersection)

{3, 4}


---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [69]:

def flatten(nested_list):
    return [item for sublist in nested_list for item in sublist]
nested = [[1, 2], [3, 4], [5]]
print(flatten(nested))

[1, 2, 3, 4, 5]


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [70]:

def all_unique(lst):
    return len(lst) == len(set(lst))

print(all_unique([1, 2, 3]))     
print(all_unique([1, 2, 2, 3]))

True
False


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [71]:

from functools import reduce
import operator

def multiply_list(lst):
    return reduce(operator.mul, lst, 1)

print(multiply_list([1, 2, 3, 4]))

24


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [72]:

def strings_to_length_dict(strings):
    return {s: len(s) for s in strings}
words = ["apple", "banana", "kiwi"]
print(strings_to_length_dict(words))

{'apple': 5, 'banana': 6, 'kiwi': 4}


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [138]:
def count_fatou_letters(s):
    letters = 'fatou'
    s = s.lower()
    return sum(char in letters for char in s)


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [73]:

import math

factorial_tuples = [(x, math.factorial(x)) for x in range(1, 6)]
print(factorial_tuples)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [74]:

def merge_dicts(dict_list):
    merged = {}
    for d in dict_list:
        merged.update(d)
    return merged
dicts = [{'a': 1}, {'b': 2}, {'c': 3}]
print(merge_dicts(dicts))

{'a': 1, 'b': 2, 'c': 3}


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```


def is_subset(sub, main):
    return sub.issubset(main)
a = {1, 2}
b = {1, 2, 3}
print(is_subset(a, b))



---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76

In [76]:

def sort_by_second(tuples):
    return sorted(tuples, key=lambda x: x[1])
pairs = [(1, 3), (2, 1), (4, 2)]
print(sort_by_second(pairs))

[(2, 1), (4, 2), (1, 3)]


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [140]:

def filter_positive(nums):
    return [n for n in nums if n > 0]


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [78]:

def union_sets(set1, set2):
    return set1 | set2 
    #example
a = {1, 2}
b = {2, 3}
print(union_sets(a, b))

{1, 2, 3}


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [79]:

from functools import reduce
import operator
def product_of_list(nums):
    return reduce(operator.mul, nums, 1)
print(product_of_list([1, 2, 3, 4]))

24

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [80]:

chars = ['H', 'e', 'l', 'l', 'o']
string = ''.join(chars)
print(string)

Hello


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [141]:
# Exercise 81
def second_largest(numbers):
    unique_nums = list(set(numbers))
    if len(unique_nums) < 2:
        return None 
    unique_nums.sort(reverse=True)
    return unique_nums[1]
print(second_largest([10, 20, 30, 40, 30]))

30


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [142]:

def sorted_keys(d):
    return sorted(d.keys())
my_dict = {'b': 2, 'a': 1, 'c': 3}
print(sorted_keys(my_dict))

['a', 'b', 'c']


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [83]:
from collections import Counter
def most_common(lst):
    return Counter(lst).most_common(1)[0][0]
print(most_common([1, 2, 2, 3, 3, 3, 4]))

3

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [82]:

def sort_by_first(tuples):
    return sorted(tuples, key=lambda x: x[0])
data = [(3, 'c'), (1, 'a'), (2, 'b')]
print(sort_by_first(data))

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

In [84]:

def remove_duplicate_dicts(dicts):
    seen = set()
    result = []
    for d in dicts:
        t = tuple(sorted(d.items()))
        if t not in seen:
            seen.add(t)
            result.append(d)
    return result

dict_list = [{'a': 1}, {'b': 2}, {'a': 1}]
print(remove_duplicate_dicts(dict_list))

[{'a': 1}, {'b': 2}]



---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

3

In [85]:

def min_max(nums):
    if not nums:
        return None, None
    return min(nums), max(nums)
print(min_max([3, 1, 4, 1, 5, 9]))

(1, 9)


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

In [86]:

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
result = list(zip(list1, list2))
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [143]:

def reverse_strings(strings):
    return strings[::-1]
print(reverse_strings(['apple', 'banana', 'cherry']))

['cherry', 'banana', 'apple']



---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [144]:

def sum_odd(numbers):
    return sum(n for n in numbers if n % 2 != 0)
print(sum_odd([1, 2, 3, 4, 5]))

9



---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [87]:

def is_palindrome(s):
    s = s.lower()
    return s == s[::-1]

print(is_palindrome("Racecar"))  
print(is_palindrome("Hello"))

True
False


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [88]:

def median(nums):
    sorted_nums = sorted(nums)
    n = len(nums)
    mid = n // 2
    if n % 2 == 0:
        return (sorted_nums[mid - 1] + sorted_nums[mid]) / 2
    else:
        return sorted_nums[mid]

print(median([3, 1, 4, 2]))  
print(median([3, 1, 4, 2, 5]))

2.5
3


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```


from collections import defaultdict

def total_values(dict_list):
    totals = defaultdict(int)
    for d in dict_list:
        for k, v in d.items():
            totals[k] += v
    return dict(totals)
dicts = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c': 5}]
print(total_values(dicts))

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [148]:

def sum_of_squares(nums):
    return sum(n ** 2 for n in nums)
print(sum_of_squares([1, 2, 3]))

14


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [89]:

cubes = [(x, x**3) for x in range(1, 6)]
print(cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

In [90]:

def primes_up_to(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes
print(primes_up_to(20))

[2, 3, 5, 7, 11, 13, 17, 19]


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [91]:

def common_keys(dict1, dict2):
    return dict1.keys() & dict2.keys()

d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 4, 'c': 5, 'd': 6}
print(common_keys(d1, d2))

{'c', 'b'}


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [92]:

def long_strings(strings):
    return [s for s in strings if len(s) > 5]
print(long_strings(['apple', 'banana', 'cherry', 'date']))

['banana', 'cherry']

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [93]:

def strings_and_lengths(strings):
    return [(s, len(s)) for s in strings]

print(strings_and_lengths(['apple', 'banana', 'cherry']))

[('apple', 5), ('banana', 6), ('cherry', 6)]




---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [94]:

from collections import defaultdict

def sum_dict_values(dicts):
    totals = defaultdict(int)
    for d in dicts:
        for k, v in d.items():
            totals[k] += v
    return dict(totals)
dict_list = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c': 5}]
print(sum_dict_values(dict_list))

{'a': 4, 'b': 6, 'c': 5}